<br>
<div class="recruit_info">
  <h3>Recruit: <span style='color:#f27820'><%= @cnote.recruit.name %></span></h3>
  <h3>Coach: <span style='color:#f27820'><%= @cnote.user.name %></span></h3>
  <h3>Coach: <span style='color:#f27820'><%= @cnote.date %></span></h3>
  <h3>Text: <span style='color:#f27820'><%= @cnote.text %></span></h3>
</div>
