<div>
<%= image_tag 'doane-logo2.png', {class: 'basketball_pic'} %>
</div>
<br>
<br>
<br>
<div class='public_menu'>
  <h2><%= link_to 'Doane Coaches', new_user_session_path, :class => 'public_links' %></h2>
  <h2><%= link_to 'Prosepctive Players', applicants_path, :class => 'public_links' %></h2>
</div>
