<div class="wrapper">
 <div class="index_header">
   <h3>Levels</h3>
 </div>
  <% @levels.each do |f| %>
    <a href= <%= edit_level_path(f.id) %> class='more_links' >
      <h4><%= f.name %></h4>
    </a>
  <% end %>
</div>
