<div class='wrapper'>
  <div class="row">
    <h1 class="form_header">Add a New Level</h1>
  </div>
  <%= form_for @level do |f| %>
    <div class="row">
      <%= f.label :name, 'Name', class: 'form-actions' %>
      <%= f.text_field :name %>
    </div>
    <div class="form-actions">
      <%= f.submit 'Submit' %>
    </div>
  <% end %>
</div>
