@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
  background-color: #4f4f4f;
  color: #f27820;
}

/* application_layout */

.logo-pic {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.sign_in_head {
  background: #333333;
}

/* applicants header */

.basketball_pic {
  width: 100%;
}

.applicants-header {
  background: #191D20;
}

/* link formatting */

.public_links {
  text-decoration: none;
  text-shadow: 3px 3px #181C1F;
  color: #f27820;
  font-size: 75px;
  font-family: 'Kaushan Script', cursive;
}

.more_links {
  text-decoration: none;
  color: inherit;
  font-size: 25px;
}

.user_links {
  text-decoration: none;
  font-size: 30px;
  color: inherit;
}

/* font sizing */

.form_header {
  font-size: 40px;
}

.middle_info {
  font-size: 30px;
}

.row {
  font-size: 25px;
  margin: 10px;
}

.public_menu h1 {
  font-size: 45px;
}

.recruit_info {
  color: #A4A4A4;
  font-size: 30px;
  text-align: center;
}

.index_header {
  font-size: 40px;
  color: #A4A4A4;
}

.recruit_status {
  font-size: 30px;
  color: #A4A4A4;
}

/* allignment */

.public_menu {
  text-align: center;
  color: #f27820;
}

.wrapper {
  text-align: center;
}

.form-actions {
  padding-left: 25px;
  color: inherit;
}

.recruit_name {
  padding: 0px;
  font-size: 75px;
}

.recruit_top {
  text-align: center;
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background: inherit;
  color: inherit;
  font-size: 25px;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: solid 3px black;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}
