<div class="wrapper">
 <div class="index_header">
   <h3>Classes</h3>
 </div>
  <% @years.each do |f| %>
    <a href= <%= edit_year_path(f.id) %> class='more_links' >
      <h4><%= f.year %> : <span style='color:#A4A4A4'><%= f.status %></h4>
    </a>
  <% end %>
</div>
